$Off-white: #F4F4F4; //Page Background
$pure-white: #FFF; // Widget Background
$Dark-Grey: #474C55; // Text, Secondary Buttons
$Bottom-Grey: #24272B; // Secondary button bottom
$Green: #6DB420; // Primary Buttons, Widget Title
$Dark-Green: #5E961F; //Primary Button Bottom
$Yellow: #FEC01E; //Tertiary Buttons, Page Border
$Dark-Yellow: #CF9601; //Tertiary Button bottom